*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:  #505a63;
}

h1{
    text-align: center;
    color: lightgrey;
    margin: 10px;
}

.container{
    width: 50%;
    margin: auto;
}

.slider-container{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-container{
    display: flex;
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.arrow-container{
    font-size: 36px;
    color: grey;
    margin: 5px;
}

.arrow-container i{
    cursor: pointer;
    transition: color .3s;
}

.arrow-container i:hover{
    color: white;
}

.center-block {
    flex: 1;
    position: relative;
}

.slider-image{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.dots-container{
    position: absolute;
    padding: 14px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4);
}

.dots-container.dot{
    display: inline-block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: white;
    margin: 0 4px
}